@page
@model IndexModel
@{
    ViewData["Title"] = "Úvod";
}

<p>
    Vítejte v systému správy hokejového klubu. Sledování ledového času, tréninků a zápasů.
</p>
<p>
    <a class="button" asp-page="/Index">
        <i class="fa-solid fa-hockey-puck fa-fw"></i> Začít
    </a>
</p>
